apiVersion: v1
kind: Service
metadata:
  name: ecommerce-app
  namespace: ecommerce
spec:
  type: LoadBalancer
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30081
  selector:
    app: ecommerce-app
